*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color:  #030526;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    text-align: center;
    background-color: #1a1a2e;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#weight, #height {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

#calculate{
    padding: 10px 20px;
    background-color: #e94560;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#calculate:hover{
    transition: background 1s ease-in-out;
    transform: scale(1.1);    
}