*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background : url("https://www.pixelstalk.net/wp-content/uploads/2016/03/Dark-Forest-Wallpaper-Free.jpg")no-repeat;
    background-size: cover;
}

.clock{
    width: 100%;
    max-width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(0, 0, 0, 1);
    height: 24vh;
    border-radius: 12px;
}

.clock h1{
    font-size: 3.5rem;
    font-weight: 600;
}

.clock span{
    position: relative;
    top: -13%;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 700;
}

@media screen and (max-width:400px){
    .clock{
        max-width: 260px;
    }
    .clock h1{
        font-size: 2.5rem;
    }
}